# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
.venv/
venv/
env/
ENV/

# Кэш и служебные файлы Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# =========================
# Jupyter
# =========================
**/.ipynb_checkpoints/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Secrets / env
# =========================
.env
.env.*
!.env.example

# =========================
# Датасеты
# =========================
data/
lab1/data/
lab2/data/
lab3/data/
lab4/data/

lab2/att-database-of-faces/
lab3/eurosat/
lab3/EuroSAT/

# =========================
# Веса моделей и артефакты обучения
# =========================
*.pth
*.pt
*.ckpt
*.onnx
*.h5
*.pkl
*.joblib
*.npz

# =========================
# Логи и результаты
# =========================
*.log
runs/
wandb/
mlruns/
checkpoints/

# =========================
# Временные файлы
# =========================
*.tmp
*.temp